body{
   margin: 0px;
   padding: 0px;
   font-family: sans-serif; 
}

/* Estilização do Cabeçalho */
.header{
    background-color: #1A3868;
    height: 80px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid rgba(0, 0, 0, 0.486);
}

.img-logo{
    height: 50px;
}

.logo{
    height: auto;
    width: 300px;
    text-align: center;
    margin-right: 50px;
}

h1{
    font-size: 35px;
    color: purple;
}

.voltar{
    height: 50px;
    width: 100px;
    margin-left: 50px;
    padding: 0px;

    background-color: white;
    border: none;
    font-size: 18px;

    transition: all 0.3s ease-in-out;
}

.voltar:hover{
    background-color: rgb(0, 132, 255);
    color: white;
}

.link-voltar{
    padding: 12px 27px;
    color: rgb(0, 132, 255);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.link-voltar:hover{
    color: white;
}

/* Estilização do Conteúdo Principal */
.main{
    height: 530px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    background-color: rgb(245, 245, 245);
    height: 535px;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 28px;
}

.form{
    background-color: white;
    height: 400px;
    width: 450px;
    padding: 10px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid rgb(202, 202, 202);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.form:hover{
    transform: scale(1.03);
}

.form-inputs{
    width: 85%;
    margin: 10px 0px;
}

h3{
    margin: 5px;
}

input{
    height: 25px;
    width: 98%;
}

.entrar{
    height: 50px;
    width: 150px;
    background-color: white;
    padding: 0px;

    border: 2px solid rgb(0, 132, 255);
    border-radius: 5px;
    font-size: 18px;

    transition: all 0.3s ease-in-out;
}

.entrar:hover{
    background-color: rgb(0, 132, 255);
    color: white;
}

.link-entrar{
    padding: 12px 36px;
    color: rgb(0, 132, 255);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.link-entrar:hover{
    color: white;
}

/* Estilização do Banner */
.banner_login{
    height: 550px;
    width: 50%;
    
    background-image: url('../imagens/image_Login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    opacity: 80%;

    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.322);
}

/* Estilização do Rodapé */
.footer{
    background-image: -moz-linear-gradient(45deg, rgb(201, 17, 201), purple, black
    );
    height: 250px;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.titulo-footer{
    color: white;
}

.contato{
    height: 150px;
    width: 300px;
}

.rede{
    height: 150px;
    width: 300px;
}

ul{
    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

li{
    padding: 10px 0px;
}