body{
   margin: 0px;
   padding: 0px;
   font-family: sans-serif; 
   overflow: hidden;

    background-image: url("../imagens/BG_LoginCadastro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}

/* Estilização do Cabeçalho */
.header{
    background-color: #1A3868;
    height: 80px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-bottom: 2px solid rgba(0, 0, 0, 0.486);
}

.img-logo{
    height: 50px;
}

.logo{
    height: auto;
    width: 300px;
    text-align: center;
    margin-right: 50px;
}

h1{
    font-size: 35px;
    color: purple;
}

.voltar{
    height: 50px;
    width: 100px;
    margin-left: 50px;
    padding: 0px;

    background-color: white;
    border: none;
    font-size: 18px;

    transition: all 0.3s ease-in-out;
}

.voltar:hover{
    background-color: rgb(0, 132, 255);
    color: white;
}

.link-voltar{
    padding: 12px 27px;
    color: rgb(0, 132, 255);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.link-voltar:hover{
    color: white;
}

/* Estilização do Conteúdo Principal */
.main{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    height: 720px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 28px;
}

.form{
    background-color: white;
    height: 400px;
    width: 450px;
    padding: 10px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.327);
    border-radius: 36px;
    transition: all 0.3s ease-in-out;
}

.form-inputs{
    width: 85%;
    margin: 10px 0px;
}

h3{
    margin: 5px;
}

input{
    height: 25px;
    width: 98%;
    padding-left: 10px;
}

.entrar{
    height: 50px;
    width: 150px;
    background-color: white;
    padding: 0px;

    border: 2px solid rgb(0, 132, 255);
    border-radius: 25px;
    font-size: 18px;

    transition: all 0.3s ease-in-out;
}

.entrar:hover{
    background-color: rgb(0, 132, 255);
    color: white;
}

.link-entrar{
    padding: 14px 36px;
    color: rgb(0, 132, 255);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.link-entrar:hover{
    color: white;
}

/* Estilização do Banner */
.banner{
    height: 610px;
    width: 50%;
    background-image: url('../imagens/image_Cadastro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    opacity: 80%;

    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.322);
}

.banner_cadastro{
    height: 550px;
    width: 50%;
    
    background-image: url('../imagens/image_Login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    opacity: 80%;

    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.322);
}